* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}
p {
    line-height: 4rem;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #1f6fff;
    transition: 0.5s;
}
.btn:hover {
    background-color:#1f6fff;
    color: white;
}
.line {
    height: 3px;
    margin: 16px auto;
    border: none;
    width: 60px;
    background-color: #1f6fff;
}
span {
    color: #1f6fff;
}
.line-b {
    height: 100px;
    border-left: 3px solid #1f6fff;
    margin-top: 0px;
}
 .mission-card {
    background: #0a2540;
    box-shadow: 0px 2px 4px 8px white;
    height: 6.25rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 2rem ;
    border-radius: 5px;
}

/* Navigation Section */
#navigation .navigation {
    background-color: rgb(48, 47, 47);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#navigation .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
#navigation .nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
} 
#navigation .nav-bar a:hover {
   color: #1f6fff;
}
/* Navigation Section */



/* Reason Section */
#why .reason {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#why .reason-h span {
       font-size: 2.5rem;
}
/* Reason Section */



/* Hero Section */
#hero-section .hero-section {
    background-color: #f0f0f0;
    padding: 50px 20px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.719) url(images/office.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}
#hero-section .logo h2{
    color: rgb(199, 195, 195);
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
#hero-section .hero-section h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-left: 0;
    color: white;
    text-align: center;
}
#hero-section .hero-section p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

/*End Hero Section */


/* About Section */
#about .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgba(0, 0, 0,0.719) url(./images/about2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-blend-mode: darken;
    margin-inline: 0 auto;
}
#about .about-text {
    text-align: center;
}
#about .about-text h2 {
       font-size: 2rem;
       margin-bottom: 2rem;
}

/*End About Section */


/* Contact Section */

#contact .contact-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.719) url(./images/build.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    background-blend-mode: darken;
}
#contact .contact-top h2 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
}
#contact .contact-top p {
    font-size: 1.5rem;
    text-align: center;
}
#contact .contact-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
#contact .contact-middle div {
    margin-bottom: 1rem;
}
#contact .contact-middle div i {
    color: #0d6efd;
}
#contact .contact-bottom {
    width: 100%;
    padding: 0;
    margin: 0;
}
#contact .contact-bottom iframe {
     width: 100%;
     height: 300px;
     border: 0;
     display: block;
}
/* Contact Section */




/* Service Section */
#services .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
#services .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px 0px gray;
    border-radius: 1rem;
    transition: transform 0.1s;
}
#services h1 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 1rem;
    margin-top: 5rem;
    font-size: 2rem;
}
#services p {
    text-align: center;
    margin-bottom: 2rem;
}
#services .text h5 {
     color: black;
     font-size: 1rem;
     margin-bottom: 0.2rem;
     margin-top: 0.2rem;
}
#services .text p {
    color: #0a2540;
    margin-bottom: 0.5rem;
}
#services .cards img {
    height: auto;
    width: 100%;
}
#services .cards:hover {
    transform: translatey(-10px);
}
#services .text {
    width: 100%;
    text-align: center;
}
/*End Service Section */

/* Project Section */
#projects .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#projects .title {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    margin-top: 6rem;
}
#projects .project-info {
    font-size: 0.9rem;
    text-align: center;
    color: white;
}
/*End Project Section */


/* Mission Section */
#mission .mission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
}
#mission .mission h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
#mission .mission p {
    text-align: center;
}
/*End Mission Section */

/* Vision Section */
#vision .vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
#vision .vision h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
#vision .vision p {
    text-align: center;
}
/*End Vision Section */

/* Footer Section */
#footer {
     background: #0a2540;
     
}
#footer .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
     padding: 1rem 1rem;
}
#footer .left-footer {
    margin-bottom: 2.5rem;
    text-align: center;
}
#footer .socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#footer .socials a {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #111;
   color: #fff;
   border-radius: 50%;
   text-decoration: none;
   transition: 0.3s;
}
#footer .socials a:hover {
    background: #0d6efd;
}
#footer .middle-footer li {
      list-style: none;
}
#footer .middle-footer li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
#footer .middle-footer li a:hover{
    color: #0d6efd;
}
#footer .right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;

}
#footer .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#footer .contact p {
    text-align: center;
    margin-bottom: 1.5rem;
}
#footer .all {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
     padding-bottom: 2rem;
}
/*End Footer Section */

